
.sense {
    position: absolute;
}
.antisense{
    position: absolute;
}
/*dna nucleotides for stuff*/
.adenine {
    background-color: lightblue;
    width: 50px;
    height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    position: fixed;
}
.cytosine {
    background-color: lightgreen;
    width: 50px;
    height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    position: fixed;
}
.guanine {
    background: darkorange;
    width: 50px;
    height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    position: fixed;
}
.thymine {
    background: purple;
    width: 50px;
    height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    position: fixed;
}
.nucleicwalltop {
    width: 100px;
}
.nucleicwallbottom {
    width: 100px;
}
.tRNA {
    width:50px;
    height: 90px;
}
.AminoAcid{
    height: 10px;
    width: 50px;
}

.helicase {
    position: fixed;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    background-color: lightblue;
    height: 50px;
    width: 300px;
    z-index: 10;
    opacity: .5;
    top: 100px;
    left: -125px;
    -webkit-transform: rotate(90deg);
}


