
.sense {
    min-height: 100px;
    position: absolute;
    display: block;
    top: 150px;
}
.antisense{
    min-height: 100px;
    position: absolute;
    display: block;
    top: 90px;
}
/*ids for stuff*/
.adenine {
    background-color: lightblue;
    width: 50px;
    height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    position: absolute;
}
.cytosine {
    background-color: lightgreen;
    width: 50px;
    height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    position: absolute;
}
.guanine {
    background: darkorange;
    width: 50px;
    height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    position: absolute;
}
.thymine {
    background: purple;
    width: 50px;
    height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    position: absolute;
}
.nucleicwalltop {
    width: 100px;
}
.nucleicwallbottom {
    width: 100px;
}
.tRNA {
    width:50px;
    height: 90px;
}
.AminoAcid{
    height: 10px;
    width: 50px;
}
