clear {
    color: purple;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 10;
    margin: auto;
}

div {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	margin: auto;
	text-align: center;
}

#header {
    height: 50px;
    width: auto; 
}

div h1 {
    font-family: sans-serif;
}

@-webkit-keyframe {
    
}