clear {
    color: purple;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 10;
    margin: auto;
}

div h1 {
    font-family: sans-serif;
    margin-top: 20;
}

div {
	background-color: inherit;
    height: inherit;
    width: inherit;
    border: inherit;
    border-width: inherit;
}

#header {
    height: 50px;
    width: auto;
    background-color: lightblue;
    border: 3px solid blue;
    border-radius: 20px;
    text-align: center;
}

#tide1 {
    position: absolute;
    top: 100px;
    left: auto;
    height: 30px;
    width: 12px;
    background-color: blue;
}

