.sense {
    position: fixed;
}
.antisense{
    position: fixed;
}
.aminoacids {
    position: fixed;
}
.aminoacid {
    background-color: white;
    position: fixed;
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.bond {
    position: fixed;
    width: 160;
    height: 10;
    background-color: gray;
}
/*dna nucleotides for stuff*/
.adenine {
    background-color: lightblue;
    width: 50px;
    height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    position: fixed;
}
.cytosine {
    background-color: lightgreen;
    width: 50px;
    height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    position: fixed;
}
.guanine {
    background: darkorange;
    width: 50px;
    height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    position: fixed;
}
.thymine {
    background: purple;
    width: 50px;
    height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    position: fixed;
}
.uracil {
    background: purple;
    width: 50px;
    height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    position: fixed;
}
#nucleicwalltop {
    left: 1200px;
    top: -100px;
    width: 100px;
    height: 200px;
    position: fixed;
    background: purple;
}
#nucleicwallbottom {
    left: 1200px;
    top: 200px;
    width: 100px;
    height: 700px;
    position: fixed;
    background: purple;
}
.tRNA {
    max-height: 90px;
    max-width: 150px;
    width:150px;
    height: 90px;
    position: fixed;
}
.AminoAcids{
    height: 10px;
    width: 50px;
}

.helicase {
    position: fixed;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    background-color: lightblue;
    height: 50px;
    width: 300px;
    z-index: 10;
    opacity: .5;
    top: 100px;
    left: -125px;
    -webkit-transform: rotate(90deg);
}

.polymerase {
    position: fixed;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    background-color: purple;
    height: 50px;
    width: 170px;
    z-index: 10;
    opacity: .5;
    top: 100px;
    left: -125px;
    -webkit-transform: rotate(90deg);
}
.largesubunit{
    position: fixed;
    height: 100px;
    width: 500px;
    background-color: brown;
}
#Asite{
    position: fixed;
    width: 150px;
    padding-left: 325px;
    padding-top: 25px;
    height: 75px;
    text-align: center;
    font-family: sans-serif;
    vertical-align: middle;
    background-color: crimson;
}
#Psite{
    position: fixed;
    width: 150px;
    padding-left: 175px;
    padding-top: 25px;
    height: 75px;
    text-align: center;
    font-family: sans-serif;
    vertical-align: middle;
    background-color: lightblue;
}
#Esite{
    position: fixed;
    width: 150px;
    padding-top: 25px;
    padding-left: 25px;
    vertical-align: middle;
    height: 75px;
    text-align: center;
    font-family: sans-serif;
    background-color: green;
}
#padding {
    position: fixed;
    width: 25px;
    height: 100px;
    background-color: brown;
}
.smallsubunit{
    position: fixed;
    height: 50px;
    width: 500px;
    background-color: brown;
}
